.best {
  margin-bottom: 118px;
  &__container {
     display: flex;
     background: #1A3788;
     padding: 48px 120px;
     justify-content: space-between;
  }
  &__text {
    max-width: 652px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
  }
  &__btn {
    width: 328px;
    padding: 18px;
  }
}