.cert {
  $this: &;
  padding-top: 148px;
  padding-bottom: 400px;
  background-color: #0C1E42;
  position: relative;
  &::before, &::after {
    position: absolute;
    background-image: linear-gradient(to top left, #ffffff 50%, transparent 50%);
    content: "";
    // height: 291px;
    height: 15.29vw;
    width: 50%;
    display: block;
    bottom: 0;
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
    transform: scaleX(-1);
  }
  &__decor {
    position: absolute;
    width: 1230px;
    height: 886px;
    background-image: url("../assets/images/cert_bg.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    // background-position: 0 100%;
    z-index: 5;
    bottom: 0;
    &--left {
      left: 0;
    }
    &--right {
      transform: scaleX(-1);
      right: 0;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
  }
  &__title {
    max-width: 595px;
    margin-bottom: 65px;
    color: #ffffff;
    text-align: center;
  }
  &__list {
    display: flex;
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 660px;
    &:first-child {
      // margin-right: 37px;
      #{$this}__text1 {
        max-width: 498px;
      }
      &::before {
        filter: drop-shadow(0px 8px 20px #0C1E42);
        position: absolute;
        display: block;
        content: "+";
        font-size: 108px;
        color: #E64B52;
        right: -42px;
        top: 53%;
      }
    }
  }
  &__text1 {
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    
  }
  &__text2 {
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
    
    
  }
  &__image {
    line-height: 0;
    margin-top: 52px;
    img {
      filter: drop-shadow(0px 8px 20px #0C1E42);
    }
  }
}