.result {
  padding-top: 170px;
  margin-bottom: 85px;
  @media (max-width: 991px) {
    padding-top: 120px;
  }
  @media (max-width: 767px) {
    padding-top: 45px;
    margin-bottom: 45px;
  }
  &__box1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    @media (max-width: 1365px) {
      flex-direction: column;
    }
    @media (max-width: 991px) {
      margin-bottom: 90px;
    }
    @media (max-width: 767px) {
      margin-bottom: 106px;
    }
  }
  &__title {
    flex: 0 1 50%;
    max-width: 549px;
    margin-top: 96px;
    @media (max-width: 1365px) {
      max-width: none;
      margin-bottom: 39px;
    }
    @media (max-width: 991px) {
      margin-top: 0;
    }
    @media (max-width: 767px) {
      text-align: center;
      margin-bottom: 25px;
    }
  }
  &__box2 {
    flex: 0 1 50%;
  }
  &__page {
    font-size: 40px;
    line-height: 135%;
    color: #1A3788;
    margin-bottom: 30px;
    span {
      font-weight: bold;
      font-size: 100px;
    }
  }
  &__text1 {
    font-size: 30px;
    line-height: 135%;
    color: #1A3788;
    @media (max-width: 767px) {
      font-size: 20px;
    }
  }
  &__arrows {
    margin-top: 20px;
    display: flex;
  }
  &__arrow {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      @media (min-width: 1280px) {
        background-color: #E64B52;
        svg {
          fill: #ffffff;
        }
      }
    }
    svg {
      width: 26px;
      fill: #1A3788;
    }
    &--prev {
      margin-right: 23px;
      transform: rotate(180deg);
    }
  }
  &__text2 {
    border: 4px solid #E64B52;
    text-align: center;
    padding: 30px 133px;
    font-weight: 500;
    font-size: 35px;
    line-height: 135%;
    color: #1A3788;
    @media (max-width: 1365px) {
      padding: 30px 0;
    }
    @media (max-width: 767px) {
      font-size: 24px;
      padding: 15px 21px;
    }
  }

  //slick fixes
  .slick-list {
    padding-top: 20px;
  }
}