.speakers {
  background-color: rgba(201, 226, 255, 0.3);
  background-image: url("../assets/images/cbs_icon.svg");
  background-repeat: no-repeat;
  background-position: 0 250px;
  background-size: 390px;
  padding-top: 76px;
  padding-bottom: 85px;
  @media (max-width: 991px) {
    padding-top: 42px;
    background-position: -68px 250px;
    background-size: 270px;
  }
  @media (max-width: 767px) {
    padding-bottom: 30px;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__box1 {
    transition: all 0.5s ease;
  }
  &__text1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 15px;
    display: block;
    @media (max-width: 991px) {
      text-align: center;
      margin-bottom: 20px;
    }
    @media (max-width: 767px) {
      font-weight: bold;
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 14px;
    }
  }
  &__title {
    margin-bottom: 90px;
    @media (max-width: 991px) {
      text-align: center;
      line-height: 50px;
      margin-bottom: 54px;
    }
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 26px;
      margin-bottom: 26px;
    }
  }
  &__list1 {
    transition: all 0.2s ease;
    &--hide {
      display: none;
    }
  }
  &__item1 {
    display: flex;
    margin-bottom: 60px;
    align-items: center;
    @media (max-width: 991px) {
      flex-direction: column;
    }
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
  &__image1 {
    margin-left: 107px;
    flex: 0 1 360px;
    width: 360px;
    height: 360px;
    line-height: 0;
    margin-right: 85px;
    @media (max-width: 1365px) {
      margin-left: 0;
      flex-shrink: 0;
    }
    @media (max-width: 991px) {
      margin-right: 0;
      margin-bottom: 33px;
    }
    @media (max-width: 767px) {
      width: 315px;
      height: 315px;
      flex: 0 1 315px;
    }
    img {
      border-radius: 50%;
      overflow: hidden;
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin-bottom: 22px;
    }
  }
  &__box2 {
    flex: 0 1 671px;
    @media (max-width: 991px) {
      flex: 0 1 auto;
    }
  }
  &__name1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 28px;
    color: #0C1E42;
    display: block;
    margin-bottom: 20px;
    @media (max-width: 1365px) {
      line-height: 44px;
    }
    @media (max-width: 991px) {
      line-height: 28px;
      text-align: center;
    }
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 12px;
    }
  }
  &__text2 {
    font-size: 22px;
    line-height: 135%;
    color: #0C1E42;
    font-weight: normal;
    & + & {
      margin-top: 30px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  &__btn {
    padding: 14px;
    width: 365px;
    align-self: center;
    @media (max-width: 767px) {
      width: 100%;
      max-width: 340px;
    }
  }
}