.when {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #E64B52;
  transform: skewY(-3deg);
  &__container {
    transform: skewY(3deg);
  }
  &__title {
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    color: #FFFFFF;
    margin-bottom: 45px;
  }
  &__list {
    display: flex;
  }
  &__item {
    padding-top: 42px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 33px;
    flex: 0 1 423px;
    border: 2px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    & + & {
      margin-left: 20px;
    }
    img {
      margin-bottom: 27px;
    }
  }
  &__text {
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
  }
}